---
layout: default
title: My bookshelf
---
<h1>{{ page.title }}</h1>
<div class="page-wrap">
		
	<main role="main">
	<div class="flex-grid">
	{% for post in site.posts %}
	<article class="main-articles">
	   {% if post.img %}
	      <a href="{{post.url}}"><img class="post-image" src={{ "/assets/images/"}} alt="{{post.title}}"></a>
	   {% endif %}
	    <div class="post-content">
	      <div class="wrap-content">
		<header class="header-article">
		  <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
		  <div class="byline"><span>{{ post.date | date_to_string }}</span></div>
		</header>
	      </div>
	    </div>
	</article>
	{% endfor %}
	</div>
	</main>
  </div>
	</ul>
